{{- $sync_sources := list "/path/to/source1" "/path/to/source2" -}}
{{- $sync_target := "/path/to/unified_target" -}}
{{- $tablet_screen := "" -}}

[data]
    sync_sources = {{ $sync_sources | toJson }}
    sync_target = {{ $sync_target | quote }}
    tablet_screen = {{ $tablet_screen | quote }}
