{{- /* 1. Try to load local.toml into a map */ -}}
{{- $localData := dict -}}
{{- $localPath := joinPath .chezmoi.homeDir ".config/chezmoi/local.toml" -}}
{{- if stat $localPath -}}
     {{- $localData = (include $localPath | fromToml).data -}}
{{- end -}}

[data]
    sync_sources = {{ index $localData "sync_sources" | default (list) | toJson }}
    sync_target = {{ index $localData "sync_target" | default "" | quote }}
    tablet_screen = {{ index $localData "tablet_screen" | default "" | quote }}
    niri_output_settings = {{ index $localData "niri_output_settings" | default "{}" | quote }}
