<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/.local/bin/backup.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/.local/share/backup.err</string>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/.local/share/backup.out</string>
</dict>
</plist>
